.bgc {
    background-color: black;
    height: 120px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.top-header {
    padding-top: 10px;
    height: 80px;
    margin: auto;
}

.logo {
    height: 40px;
    max-width: 115px !important;
    align-self: center;
}

.dropdown-btn {
    background-color: white !important;
    color: black !important;
    border-radius: 0px !important;
}

.search-bar {
    display: inline-flex;
    align-self: center;
}

.search {
    width: 100%;
    height: 44px !important;
    border-radius: 5px 0px 0px 5px;
}

.search-icon {
    height: 40px;
    align-self: center;
    background-color: rgb(47, 130, 251);
    border-radius: 0px 5px 5px 0px;
}

.search,
.dropdown-btn {
    height: 40px;
    align-self: center;
}

.header-categories {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
}

.navbar-category {
    border-radius: 3px 3px 0px 0px;
    display: flex;
    --webkit-box-align: center;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: rgb(33, 33, 33);
    margin: 0px 5px 0px 5px;
    padding: 7px;
}

.navbar-category:first-child {
    margin-left: 0;
}

.navbar-category:last-child {
    margin-right: 0;
}

.navbar-category>a {
    display: block;
    width: 100%;
    color: white !important;
    text-decoration: none;
    font-size: 15px;
    text-align-last: center;
}

ul {
    list-style-type: none;
}

.header-categories>li:hover {
    text-decoration-line: none;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgb(55, 55, 55);
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 10px;
    padding-right: 10px;
}

span>a>svg {
    height: 24px;
    width: 10%;
}

.cat {
    text-align-last: justify !important;
    cursor: default;
}

.category {
    background-color: white;
    position: relative;
    width: 100%;
    margin: 0 !important;
    display: none;
}

.category-list {
    border: 1px solid rgb(224, 224, 224);
    /* width: 300px !important; */
}

.cat-block {
    display: none;
}

#bg {
    position: absolute;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-delay: 200ms;
    display: none;
    top: 120px;
    width: 100%;
    height: 1000%;
}

.category-list li:hover {
    text-decoration: underline !important;
}

a {
    color: black !important;
    text-decoration: none !important;
}

.category>.col {
    padding: 0px !important;
}

.productHeader>h2 {
    font-weight: bold;
}

.headerParagraph {
    font-size: 14px;
    color: rgba(0, 0, 0, .60);
}

body>section {
    padding-top: 50px;
}

.row .col-image {
    width: 100px !important;
}

section header {
    padding: 15px 0px;
}

.sidebar-Category {
    align-items: center;
    display: flex;
}

.categoryGameHeader {
    display: flex;
    justify-content: space-between;
}

.categoryFilter {
    align-items: center;
    display: flex;
}

.categoryFilter>select {
    margin-left: 10px;
}

.filterCategories {
    align-self: flex-start;
}

.filterCategories ul li {
    display: flex;
    justify-content: space-between;
    width: 200px;

}


.categoryFilter ul li>a {
    text-decoration: underline !important;
}

.game-section ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: center;
}

.game-section ul li {
    border-style: solid;
    border-width: thin;
    width: 250px;
}

hr {
    margin-top: 0px !important;
}

.deals-container ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    justify-content: center;
}

.deals-container ul>li {
    flex-direction: column !important;
    border-style: solid;
}

.game-container {
    height: 170px;
    border-bottom: thin;

}

.game-image {
    width: 100%;
    height: 100%;
}

#showmore {
    cursor: pointer;
}

#showmore:hover {
    text-decoration: underline !important;
}

#category_list a {
    cursor: pointer;
}

#page {
    text-align: end;
}

.pinput input {
    width: 100%;
}

.price .span {
    padding: 0;
    text-align: center;
    width: 10%;
}

.price div {
    padding: 0;
}

.disabled,
.disabled a {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}